html {
  height: 100vh;
}

body { 
  background-image: linear-gradient(120deg, #3A366D, #312b6b);
}

.container {
  margin: 0 auto;
  width: 90vw;
  max-width: 80rem;
  margin-bottom: 1rem;    
}

.New__container {    
  margin: 0 auto;
  margin-bottom: .7rem;
  border-radius: 3px;
}