.btn {
  border: none;
  outline: none;
  color: #efefef;
  padding: .8rem;
  cursor: pointer;
  background-color: #7067CF;
  transition: all .2s ease-out;
  text-transform: uppercase;

  &--new {
    padding: 0 2rem;
    font-size: 2.7rem;
    font-weight: 100;
    cursor: pointer;
    width: 16%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #5e57ac;
    }

    & i {
      font-weight: 100;
      color: #410B13;
    }
  }

  &--menu {
    width: 33.3333333%;
    margin: 0 .1rem;

    &:hover {
      background-color: #7067CF;
      color: white;
      letter-spacing: .2px;
    }

    & i {
      margin-right: .7rem;
      font-weight: 100;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .btn--menu i {
      margin-right: 0;
  }
}