.btn {
  border: none;
  outline: none;
  color: #efefef;
  padding: .8rem;
  cursor: pointer;
  background-color: #7067CF;
  transition: all .2s ease-out;
  text-transform: uppercase;

  &--new {
    padding: 0 2rem;
    font-size: 2.7rem;
    width: 16%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #5e57ac;
    }
  }

  &--menu {
    width: 33.3333333%;
    margin: 0 .1rem;

    &:hover {
      background-color: #7067CF;
      color: white;
      letter-spacing: .2px;
    }
  }

  &--delete, &--back, &--edit, &--update {
    flex-grow: 1;
    width: 50%;
    padding: 0 2rem;
    min-width: 8%;
  }
  
  &--delete, &--back {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &--edit {
    background-color: #7067CF;

    &:hover {
      background-color: #5e57ac;
    }
  }

  &--delete {
    background-color:  #a82725;

    &:hover {
      background-color: #8b1c1a;
    }
  }

  &--update {
    background-color: #156360;

    &:hover {
      background-color: #115754;
    }
  }

  &--back {
    background-color: #790363;

    &:hover {
      background-color: #5c034c;
    }
  }
}

@media screen and (max-width: 600px) {
  &--delete, &--back, &--edit, &--update {
    padding: 0 1.3rem;
  }
}