.input {

  font-size: 2rem;
  border: none;
  outline: none;
  background-color: #dae4f5;
  letter-spacing: 1px;

  &:focus {
    background-color: #e4e8ee;
  }

  &--new {
    font-family: inherit;
    padding: 1rem 2rem;
    width: 84%; 
    transition: all .3s ease;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &--list-item {
    width: 80%;
    margin-left: 1rem;
    line-height: 4.2rem;
    font-weight: 400;
    flex-grow: 1;
    overflow: hidden;
    background-color: #e4e8ee;
  }
}


@media screen and (max-width: 600px) {
  .input {
      letter-spacing: 0;

      &--new {
        padding: 0.8rem 1rem;
        font-size: 1.8rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &--list-item {
        font-size: 1.5rem;
        text-align: start;
        margin-left: 1rem;
        line-height: 3.5rem;
      }
  }
}