.List {
  height: 60vh;
  overflow-y: auto;
}

.List::-webkit-scrollbar,
.List::-webkit-scrollbar-track,
.List::-webkit-scrollbar-thumb {
  width: 3rem;
}

.List::-webkit-scrollbar-track:vertical {
  border-right: 1.5rem solid rgba(0,0,0,.2);
  border-radius: 3px;
}
.List::-webkit-scrollbar-thumb:vertical {
  border-right: 1.5rem solid rgba(255,255,255,.2);
  border-radius: 3px;
}

@media screen and (max-width: 500px) {
  .List::-webkit-scrollbar,
  .List::-webkit-scrollbar-track,
  .List::-webkit-scrollbar-thumb {
      width: 0;
  }
}

.ListItem__btns button {
  height: 100%;
}