.list-item__btns button {
  flex-grow: 1;
  width: 50%;
  padding: 0 2rem;
  min-width: 8%;
  transition: all .2s ease-out;
}

.list-item__icon {
  font-size: 1.8rem;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .list-item__btn {
      flex-grow: 1;
      padding: 0 1.3rem;
      min-width: 8%;
  }
  
  .list-item__icon {
      font-size: 1.2rem;
      font-weight: 100;
  }   
}

.list-item__icon {
  font-size: 1.8rem;
  font-weight: 100;
}

@media screen and (max-width: 600px) {  
  .list-item__icon {
      font-size: 1.2rem;
      font-weight: 100;
  }   
}

