.ToDo-form__input-container {    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: .7rem;
    border-radius: 3px;
}

.ToDo-form__input:focus {
    background-color: #e4e8ee;
}

.ToDo-form__input {
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: #dae4f5;  
    transition: all .3s ease;
    font-family: inherit;
    letter-spacing: 1px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ToDo-form__btn {
    padding: 0 2rem;
    font-size: 2.7rem;
    border: none;
    outline: none;
    color: #efefef;
    font-weight: 100;
    cursor: pointer;
    width: 16%;
    background-color: #7067CF;
    transition: all .2s ease-out;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ToDo-form__btn:hover {
    background-color: #5e57ac;
}

.ToDo-form__btn i {
    font-size: 2.5rem;
    font-weight: 100;
    color: #410B13;
}