* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
	text-decoration: none;
}

*::selection {
  background: #7067CF; /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: #7067CF; /* Gecko Browsers */
}

body { 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /*
  background-image: linear-gradient(120deg, #9DACFF, #9DACFF);
  */
  background-image: linear-gradient(120deg, #3A366D, #312b6b);
  color: #3C362A;
}

code {
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  height: 100vh;
}