* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
	text-decoration: none;
}

*::selection,
*::-moz-selection {
  background: #7067CF;
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
  height: 100vh;
}

body { 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(120deg, #3A366D, #312b6b);
  color: #3C362A;
}

code {
  font-family: 'Quicksand', sans-serif;
}

button {
  border: 0;
  color: white;
  padding: .8rem;
  outline: none;
  cursor: pointer;
}