.u-completed {
    text-decoration: line-through;
    color: #636B61;
    opacity: .4;
}

.ToDo-list__item {
    background-color: #efefef;
    margin: 1.4rem 0;
    display: flex;
    height: 4.2rem;
    cursor: pointer;
    border-radius: 3px;
}

.ToDo-list__txt {
    width: 80%;
    font-size: 2rem;
    text-align: start;
    margin: 0 2rem;
    line-height: 4.2rem;
}

.ToDo-list__input {
    width: 80%;
    font-size: 2rem;
    text-align: start;
    margin: 0 2rem;
    line-height: 4rem;
    outline: none;
    border: none;
    background-color: #efefef;
}

.ToDo-list__btn {
    flex-grow: 1;
    padding: 0 2rem;
}

.ToDo-list__icon {
    font-size: 1.8rem;
    font-weight: 100;
}

.ToDo-list__btn--edit {
    background-color: #7067CF;
}

.ToDo-list__btn--edit:hover {
    background-color: #5e57ac;
}

.ToDo-list__btn--delete {
    background-color: #a82725;
}

.ToDo-list__btn--delete:hover {
    background-color: ;
}

.ToDo-list__btn--update {
    background-color: #FF3C38;
}

.ToDo-list__btn--update:hover {
    background-color: #FF3C38;
}

.ToDo-list__btn--back {
    background-color: #FF3C38;
}

.ToDo-list__btn--back:hover {
    background-color: #FF3C38;
}

.ToDo-list__btn--delete,
.ToDo-list__btn--back {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}