.u-completed {
    text-decoration: line-through;
    color: #636B61;
    opacity: .3;
    font-style: italic;
}

.u-width-99 {
    width: 99%;
}

.a-collapse-left {
    animation: colapseLeft .3s ease-in;
}

@keyframes colapseLeft {
    0% {
        width: 100%;
        opacity: 1;
    }
    25% {
        width: 75%;
    }
    50% {
        width: 50%;
        opacity: .5;
    }
    75% {
        width: 25%;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

.ToDo-list__item {
    background-color: #dae4f5;
    margin: 1.4rem 0;
    display: flex;
    height: 4.2rem;
    cursor: pointer;
    border-radius: 3px;
}

.ToDo-list__txt,
.ToDo-list__input {
    width: 70%;
    font-size: 2rem;
    text-align: start;
    margin: 0 2rem;
    line-height: 4.2rem;
    outline: none;
    border: none;
    background-color: #D6E3F8;
    font-family: inherit;
    font-weight: 600;
    flex-grow: 1;
    letter-spacing: 1px;
}

.ToDo-list__input {
    width: 80%;
}

.ToDo-list__num {
    width: 10%;
    margin: 0 .8rem;
    font-weight: 600;
    opacity: .5;
    font-size: 1.5rem;
    line-height: 4.2rem;
    cursor: default;
}

.ToDo-list__input {
    font-weight: 400;
}

.ToDo-list__btn {
    flex-grow: 1;
    padding: 0 2rem;
    min-width: 8%;
    transition: all .2s ease-out;
}

.ToDo-list__icon {
    font-size: 1.8rem;
    font-weight: 100;
}

.ToDo-list__btn--edit {
    background-color: #7067CF;
}

.ToDo-list__btn--edit:hover {
    background-color: #5e57ac;
}

.ToDo-list__btn--delete {
    background-color:  #a82725;
}

.ToDo-list__btn--delete:hover {
    background-color: #8b1c1a;
}

.ToDo-list__btn--update {
    background-color: #156360;
}

.ToDo-list__btn--update:hover {
    background-color: #115754;
}

.ToDo-list__btn--back {
    background-color: #790363;
}

.ToDo-list__btn--back:hover {
    background-color: #5c034c;
}

.ToDo-list__btn--delete,
.ToDo-list__btn--back {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}