.ToDo-list__item {
    background-color: #dae4f5;
    margin: 1.4rem 0;
    display: flex;
    height: 4.2rem;
    cursor: pointer;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {    
    .ToDo-list__item {
        margin: 1.2rem 0;
        height: 3.5rem;
    }
}

.ToDo-list__item--completed {
    text-decoration: line-through;
    color: #636B61;
    opacity: .3;
    font-style: italic;
}

.ToDo-list__txt,
.ToDo-list__input {
    width: 80%;
    font-size: 2rem;
    text-align: start;
    margin-left: 1rem;
    line-height: 4.2rem;
    outline: none;
    border: none;
    background-color: #D6E3F8;
    font-family: inherit;
    font-weight: 500;
    flex-grow: 1;
    letter-spacing: 1px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .ToDo-list__txt,
    .ToDo-list__input {
        font-size: 1.5rem;
        text-align: start;
        margin-left: 0.5rem;
        line-height: 3.5rem;
        letter-spacing: 0;
    }
}

.ToDo-list__input {
    width: 85%;
}

.ToDo-list__input {
    background-color: #e4e8ee;
}

.ToDo-list__num {
    width: 5%;
    margin: 0 .8rem;
    font-weight: 600;
    opacity: .5;
    font-size: 1.5rem;
    line-height: 4.2rem;
    cursor: default;
}

@media screen and (max-width: 600px) {
    .ToDo-list__num {
        margin: 0 0.5rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 3.5rem;
    }
}

.ToDo-list__input {
    font-weight: 400;
}

.ToDo-list__btn {
    flex-grow: 1;
    padding: 0 2rem;
    min-width: 8%;
    transition: all .2s ease-out;
}

.ToDo-list__icon {
    font-size: 1.8rem;
    font-weight: 100;
}

@media screen and (max-width: 600px) {
    .ToDo-list__btn {
        flex-grow: 1;
        padding: 0 1.3rem;
        min-width: 8%;
    }
    
    .ToDo-list__icon {
        font-size: 1.2rem;
        font-weight: 100;
    }   
}

.ToDo-list__btn--edit {
    background-color: #7067CF;
}

.ToDo-list__btn--edit:hover {
    background-color: #5e57ac;
}

.ToDo-list__btn--delete {
    background-color:  #a82725;
}

.ToDo-list__btn--delete:hover {
    background-color: #8b1c1a;
}

.ToDo-list__btn--update {
    background-color: #156360;
}

.ToDo-list__btn--update:hover {
    background-color: #115754;
}

.ToDo-list__btn--back {
    background-color: #790363;
}

.ToDo-list__btn--back:hover {
    background-color: #5c034c;
}

.ToDo-list__btn--delete,
.ToDo-list__btn--back {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}