.ToDo-container {
    width: 90vw;
    max-width: 80rem;
    margin: 0 auto;
}

.ToDo-title {
    font-size: 3.5rem;
    margin: 5rem 0 2rem 0;
    color: #efefef;
    letter-spacing: 3px;
    height: 6rem;
    overflow: hidden;
}

.ToDo-Form {
    margin: 0 auto;
}

.ToDo-list {
    height: 60vh;
    overflow-y: auto;
}

.ToDo-list::-webkit-scrollbar,
.ToDo-list::-webkit-scrollbar-track,
.ToDo-list::-webkit-scrollbar-thumb {
    width: 3em;
}

.ToDo-list::-webkit-scrollbar-track:vertical {
    border-right:15px solid rgba(0,0,0,.2);
    border-radius: 3px;
}
.ToDo-list::-webkit-scrollbar-thumb:vertical {
    border-right:15px solid rgba(255,255,255,.2);
    border-radius: 3px;
}

.ToDo-list__txt {
    flex-grow: 1;
    font-size: 2.7rem;
}

.ToDo-options {
    display: flex;
    margin-top: 1.5rem;
}

.ToDo-options button {
    width: 33.3333333%;
    margin: 0 1px;
    border-radius: 3px;
    background-color: #5e57ac;
    text-transform: uppercase;
    color: #efefef;
    transition: all .2s ease-out;
}

.ToDo-options button:hover {
    background-color: #7067CF;
    color: white;
    letter-spacing: .2px;
}

.ToDo-options button i {
    margin-right: .7rem;
    font-weight: 100;
    font-size: 1.5rem;
}