.d-flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .d-none-sm {
    display: none;
  }
}

.w-100\% {
  width: 100%;
}

.mb-sm {
  margin-bottom: .7rem;
}

.mt-lg {
  margin-top: 1.5rem;
}

.bord-rad {
  border-radius: 3px;
}